html, body {
	background-color: #071821;
	color: #86c06c;
	/*font-family: 'Nunito', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;

	font-weight: 200;
	height: 100vh;
	margin: 0;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.title {
	font-size: 22px;	
}

.title p{
	font-size: 16px;

}

.links > a {
	color: #86c06c;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;	
}

.m-b-md {
	margin-bottom: 30px;
}

.btn{
	line-height: 1.499;
	position: relative;
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	background-image: none;
	box-shadow: 0 2px 0 rgba(0,0,0,.015);
	cursor: pointer;
	-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
	transition: all .3s cubic-bezier(.645,.045,.355,1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	height: 32px;
	padding: 0 15px;
	font-size: 14px;
	border-radius: 4px;
	color: rgba(0,0,0,.65);
	background-color: #fff;
	border: 1px solid #d9d9d9;
	text-decoration: none;
}

.btn {
	line-height: 30px;
}
.btn-primary {
	color: #e0f8cf;
	background-color: #306850;
	border-color: #306850;
	text-shadow: 0 -1px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 0 rgba(0,0,0,.045);
}
.btn, .btn:active, .btn:focus {
	outline: 0;
}

.btn .anticon {
		-webkit-transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
		transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
}
.btn>.anticon {
	line-height: 1;
}
.btn>i, .btn>span {
	display: inline-block;
	pointer-events: none;
}
.anticon {
	display: inline-block;
	color: inherit;
	font-style: normal;
	line-height: 0;
	text-align: center;
	text-transform: none;
	vertical-align: -.125em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
